<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>549DAB43-E7DB-429D-83E8-B58CD7A3B0EA</key>
	<dict>
		<key>Visible Rect</key>
		<string>{{0, 0}, {735, 667}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>Expanded Ideaspaces</key>
	<array/>
	<key>Expanded Sections</key>
	<array/>
	<key>F28E3005-5B2C-47BE-8689-DD8673BB2057</key>
	<dict>
		<key>Visible Rect</key>
		<string>{{7, 0}, {817, 667}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>InspectorBar RBSplitView Layout</key>
	<string>2 27 682</string>
	<key>Last Viewed Ideaspaces</key>
	<array>
		<string>F28E3005-5B2C-47BE-8689-DD8673BB2057</string>
	</array>
	<key>Last Viewed Section</key>
	<array/>
	<key>Library RBSplitView Layout</key>
	<string>2 682 -302.182H</string>
	<key>LibraryPanel.Settings</key>
	<dict>
		<key>LibraryPanel.HiddenColumns</key>
		<array/>
		<key>LibraryPanel.SelectedFilter</key>
		<integer>0</integer>
		<key>LibraryPanel.SortDescending</key>
		<true/>
		<key>LibraryPanel.SortKey</key>
		<string>CCAsset Title</string>
		<key>LibraryPanel.TableSettings</key>
		<dict>
			<key>CCAsset Creation Date</key>
			<array>
				<real>85</real>
				<integer>6</integer>
			</array>
			<key>CCAsset Date Added</key>
			<array>
				<real>83</real>
				<integer>7</integer>
			</array>
			<key>CCAsset File Size</key>
			<array>
				<real>45</real>
				<integer>4</integer>
			</array>
			<key>CCAsset Has Note</key>
			<array>
				<real>20</real>
				<integer>1</integer>
			</array>
			<key>CCAsset Instance Count</key>
			<array>
				<real>35</real>
				<integer>3</integer>
			</array>
			<key>CCAsset Is File Alias</key>
			<array>
				<real>20</real>
				<integer>0</integer>
			</array>
			<key>CCAsset Kind</key>
			<array>
				<real>28</real>
				<integer>8</integer>
			</array>
			<key>CCAsset Last Modified Date</key>
			<array>
				<real>85</real>
				<integer>5</integer>
			</array>
			<key>CCAsset Title</key>
			<array>
				<real>200</real>
				<integer>2</integer>
			</array>
		</dict>
	</dict>
	<key>Main RBSplitView Layout</key>
	<string>3 131 832 280</string>
	<key>Normal Window Layout</key>
	<string>{{0, 0}, {1245, 778}}</string>
	<key>Organizer RBSplitView Layout</key>
	<string>2 102H 405</string>
	<key>Projects RBSplitView Layout</key>
	<string>2 427.833 252.167</string>
</dict>
</plist>
